html, 
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

main {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #272822;
}

div#editor {
	display: flex;
	align-items: flex-start;
	overflow: auto;
	width: 100%;
	height: 91%;
	padding: 0px;
	margin: 0px;
	background-color: #272822;
	position: relative;
}
div#textarea {
	flex: 95%;
	color: white;
	font-family: Menlo, monospace;
	-webkit-font-smoothing: antialiased;
	font-size: 1.125rem;
	white-space: pre;
	padding-left: 1rem;
	min-height: 97.125%;
	overflow: hidden;
	padding-top: 1rem;
	tab-size: 2;
	word-wrap: normal;
}
div#textarea:focus {
	outline: none;
}
div#line-numbers {
	flex: 5%;
	color: white;
	font-family: Menlo, monospace;
	-webkit-font-smoothing: antialiased;
	font-size: 1.125rem;
	white-space: pre;
	text-align: center;
	opacity: 0.7;
	border-right: dotted 0.25px white;
	min-height: 97.125%;
	overflow: hidden;
	padding-top: 1rem;
	font-weight: bold;
}
div#components-bar {
	height: 2rem;
	line-height: 2rem;
	background-color: #9e9e9e;
	width: 100%;
	font-family: Menlo, monospace;
	font-size: 0.9rem;
	display: flex;
	flex-direction: row;
	padding-left: 1rem;
	font-size: 0.75em;
}
span#run-tri {
	font-size: 1em;
	margin-right: 1rem;
	border-radius: 0.5em;
	text-align: center;
	width: 5%;
}
span#run-tri:hover {
	background-color: grey;
	-webkit-user-select: none;
	cursor: pointer;
}
div#status-bar {
	line-height: 5%;
	height: 5%;
	background-color: #9e9e9e;
	width: 100%;
	font-family: Menlo, monospace;
	font-size: 0.9rem;
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
}

span#cmds {
	width: 10%;
	font-size: 1rem;
	line-height: 2rem;
	word-wrap: normal;
	overflow: hidden;
	cursor: text;
}
span#cmds:focus {
	outline: none;
}
span#wrapper {
	border: solid 1px;
	max-width: 10%;
	min-width: 10%;
	overflow: scroll;
	font-size: 1rem;
	line-height: 2rem;
	padding-left: 1rem;
	cursor: text;
	pointer-events: none;
	background-color: black;
	color: green;
	font-weight: bold;
}
span#wrapper::-webkit-scrollbar {
	display: none;
}
select#lang-chooser optgroup, select#lang-chooser option, select#lang-chooser {
	background-color: #9e9e9e;
	border: none;
	flex: 10%;
}
select#lang-chooser:focus {
	outline: none;
}
select#lang-chooser:hover {
	background-color: #8e8e8e;
}
select#lang-chooser {
	-webkit-appearance: none;
}