body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}
div.toggler-wrap {
	position: relative;
	display: inline-block;
}
div.toggler {
	position: absolute;
	min-width: 10%;
}
div#editor {
	width: 95%;
	height: 75%;
	white-space: pre;
	overflow-x: auto;
	overflow-y: scroll;
	padding: 1em;
	margin: auto;
	font-family: Menlo, monospace;
	justify-content: left;
	text-align: left;
	border-radius: 0.5rem;
	word-wrap: normal;
	-webkit-nbsp-mode: normal;
	tab-size: 2;
	line-height: 1.5em;
	background-color: #272822;
	color: white;
	font-size: 1em;
	padding-left: 2em;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
div#editor:focus {
	outline: none;
}
div#editor::before {
	position: absolute;
	opacity: 0.5;
	right: 97.5%;
	white-space: pre;
	text-align: center;
	width: 2.5%;
	-webkit-font-smoothing: none;
}
select {
	-webkit-appearance: none;
	font-size: 1em;
	background-color: transparent;
	color: #000000;
	opacity: 100;
}
option {
	background-color: transparent;
}
div#status-bar {
	margin: auto;
	width: 97%;
	border-radius: 0.5em;
	line-height: 2em;
	background-color: #bababa;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 5px 5px 10px #484947;
}
div#status-bar * {
	border: none;
	text-decoration: none;
	color: #555555;
	font-family: inherit;
	margin: auto;
	display: inline-block;
	padding: 0.5em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}
div#status-bar *:hover {
	color: #279db5;
}
div#status-bar *:focus {
	outline: none;
	color: #777777;
}