body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div#editor {
	width: 50%;
	height: 50%;
	white-space: pre;
	overflow-x: auto;
	overflow-y: auto;
	padding: 1rem;
	margin: 0px;
	font-family: Menlo, monospace;
	justify-content: left;
	text-align: left;
	border-radius: 0.5rem;
	word-wrap: normal;
	-webkit-nbsp-mode: normal;
	tab-size: 4;
}
div#editor:focus {
	outline: none;
}